@using PresentationLayer.Models
@model CleaningSpaceViewModel

<div class="text-center py-5">
<div>
	<h1>@Model.CleaningSpace.Name</h1>
	<div>
		@Model.CleaningSpace.Description
	</div>
</div>
<div>
	<h2>Ответственные</h2>
	<ul class="list-group list-group-flush w-50 mx-auto">
		@if(Model.CleaningSpace.Users!=null){
			foreach(var user in Model.Users)
			{
				<li class="list-group-item">@user.User.NickName</li>
			}
		}
	</ul>
	<br />
	@Html.ActionLink("Назначить ответственного", "AddPerson", "CleaningSpace", new{cleaningSpaceId=Model.CleaningSpace.Id,}, new {@class = "btn btn-primary"})<br />
</div>
<br />
<div>
	@Html.ActionLink("Редактировать","CleaningSpaceEditor","CleaningSpace", new {cleaningSpaceId = Model.CleaningSpace.Id,}, new {@class = "btn btn-primary"})
</div>
</div>