@using PresentationLayer.Models
@model UserViewModel

<div>
    <div>
        <h1>Информация о пользователе</h1>
    </div>
    <div>
        <div>ФИО: @Model.User.FullName <br /></div>
        <div>Ник: @Model.User.NickName <br /></div>
        <div>Email: @Model.User.Email <br /></div>
    </div>
        @if (@Model.User.Room != null)
        {
           <div>
               <a asp-action="RoomByRoomId" asp-controller="Room" asp-route-roomId="@Model.User.RoomId">@Model.User.Room.Name</a>
               @Html.RouteLink("Delete", 
               new {controller = "Room", action = "DeleteRoom", roomId=@Model.User.RoomId, userId=@Model.User.Id},
               new {@classs = "btn btn-default"})
           </div>
        
        <div>
            <div><h2>Места уборки</h2></div>
            <ul>
            @foreach(var space in @Model.CleaningSpaces)
            {
                <li><a asp-action="Index" asp-controller="CleaningSpace" asp-route-cleaningSpaceId="@space.CleaningSpace.Id">@space.CleaningSpace.Name</a></li>
            }
            </ul>
        </div>
    }
    else
    {
        <a asp-action="RoomEditor" asp-controller="Room" asp-route-userId="@Model.User.Id">Создать комнату</a>
    }

</div>
