@using PresentationLayer.Models
@model UserViewModel

<div class="py-5 text-center">
    <div>
        <h1>Информация о пользователе</h1>
    </div>
    <div>
        <div>ФИО: @Model.User.FullName <br /></div>
        <div>Ник: @Model.User.NickName <br /></div>
        <div>Email: @Model.User.Email <br /></div>
    </div>
        @if (@Model.User.Room != null)
        {
           <div>
               Комната: 
               <a asp-action="RoomByRoomId" asp-controller="Room" asp-route-roomId="@Model.User.RoomId">@Model.User.Room.Name</a><br/><br/>
               @Html.RouteLink("Удалить комнату", 
               new {controller = "Room", action = "DeleteRoom", roomId=@Model.User.RoomId, userId=@Model.User.Id},
               new {@class = "btn btn-outline-danger btn-sm"})
           </div> <br />
        
        <div>
            <div><h2>Места уборки</h2></div>
            <ul class="list-group w-25 mx-auto">
            @foreach(var space in @Model.CleaningSpaces)
            {
                <li class="list-group-item"><a asp-action="Index" asp-controller="CleaningSpace" asp-route-cleaningSpaceId="@space.CleaningSpace.Id">@space.CleaningSpace.Name</a></li>
            }
            </ul>
            @if (!Model.CleaningSpaces.Any())
            {
                <p>Вы всё прибрали, можно отдохнуть</p>
            }
        </div>
    }
    else
    {
        <a asp-action="RoomEditor" asp-controller="Room" asp-route-userId="@Model.User.Id">Создать комнату</a>
    }

</div>
